{% load static %}
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href=""><img src='{% static "img/logo.png" %}' alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'core:index' %}">Главная</a></li>
                        <li><a href="{% url 'core:categories' %}">Категории</a></li>
                        <li><a href="{% url 'blog:blog' %}">Наш Блог</a></li>
                        <li><a href="{% url 'contacts:contacts' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This front template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> but some things are created/improved by <a href="https://github.com/DmitryAce" target="_blank">me</a>.
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='{% static "js/player.js" %}'></script>
<script src='{% static "js/jquery.nice-select.min.js" %}'></script>
<script src='{% static "js/mixitup.min.js" %}'></script>
<script src='{% static "js/jquery.slicknav.js" %}'></script>
<script src='{% static "js/owl.carousel.min.js" %}'></script>
<script src='{% static "js/main.js" %}'></script>
  
