<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} | Puddle</title>
        <style>
            body {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }

            .main-content {
                flex: 1;
            }

            .flash-animate
            {
                opacity: 0;
                animation: fadeInContent 0.7s forwards ease-in-out;
            }

            @keyframes fadeInContent {
                to {
                    opacity: 1;
                }
            }
        </style>

        <link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css">
    </head>
    
    <body>
        <div class="py-6 px-6 border-b border-gray-200">
            <nav class="flex justify-between items-center container mx-auto">
                <a href="/" class="text-xl font-semibold transition duration-300 ease-in-out transform hover:scale-105">🍇Puddle</a>
            
                <div class="space-x-6 flex items-center">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'item:new' %}" class="text-lg font-semibold hover:text-gray-500 transition-colors duration-300">Добавить товар</a>
                    {% endif %}
                    <a href="{% url 'item:items' %}" class="text-lg font-semibold hover:text-gray-500 transition-colors duration-300">Поиск</a>
            
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'conversation:inbox' %}" class="px-6 py-3 text-lg font-semibold bg-violet-500 text-white rounded-xl hover:bg-violet-700 transition-all duration-300 ease-in-out transform hover:scale-105">Чаты</a>
                        <a href="{% url 'dashboard:index' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700 transition-all duration-300 ease-in-out transform hover:scale-105">Мои товары</a>
                        <div class="flex items-center space-x-4">
                            <p class="text-lg font-semibold">{{ request.user.username }}</p>
                            <form method="POST" action="{% url 'core:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="text-lg font-semibold underline text-violet-500 hover:text-violet-700 transition-colors duration-300">Выйти</button>
                            </form>                        
                        </div>
                    {% else %}
                        <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-violet-500 text-white rounded-xl hover:bg-violet-700 transition-all duration-300 ease-in-out transform hover:scale-105">Создать аккаунт</a>
                        <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700 transition-all duration-300 ease-in-out transform hover:scale-105">Вход</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        
        <!-- Анимация будет только в этом блоке -->
        <div class="main-content pb-6 bg-gray-100">
            {% block content %}
            {% endblock %}
        </div>

        <div class="py-6 px-6 bg-gray-800">
            <footer class="flex justify-between container mx-auto">
                <div class="w-2/3 pr-10">
                    <h3 class="mb-5 font-semibold text-gray-400">Информация</h3>
                    <p class="text-lg text-gray-500"> Здесь могла быть ваша реклама...</p>
                </div>

                <div class="w-1/3">
                    <h3 class="mb-5 font-semibold text-gray-400">Меню</h3>
                    <ul class="space-y-2">
                        <li><a href="#" class="text-lg text-violet-500 hover:text-violet-700 transition-colors duration-300">About</a></li>
                        <li><a href="{% url 'core:contact' %}" class="text-lg text-violet-500 hover:text-violet-700 transition-colors duration-300">Contact</a></li>
                        <li><a href="#" class="text-lg text-violet-500 hover:text-violet-700 transition-colors duration-300">Privacy policy</a></li>
                        <li><a href="#" class="text-lg text-violet-500 hover:text-violet-700 transition-colors duration-300">Term of use</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </body>
</html>
