{% extends "core/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl container mx-auto">
    <h1 class="mb-6 text-3xl">Регистрация</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Имя</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Почта</label><br>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Пароль</label><br>
            {{ form.password1 }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Повторите пароль</label><br>
            {{ form.password2 }}
        </div>

        {% if form.errors %}
            <div class="my-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {% if field.errors %}
                        <p>{{ field.label }}: {{ field.errors }}</p>
                    {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors }}</p>
                {% endif %}
            </div>
        {% endif %}


        <button class="py-4 px-8 text-lg bg-violet-500 hover:bg-violet-700 rounded-xl text-white">Отправить</button>
</div>
{% endblock %}