{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Вход{% endblock %}

{% block content %}
<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg='{% static "img/normal-breadcrumb.jpg" %}'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Вход</h2>
                    <p>Добро пожаловать на Anime blog.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Вход</h3>
                    <form method="post" action="{% url 'user:login' %}">
                        {% csrf_token %}
                        <div class="input__item">
                            {{ form.username }}
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            {{ form.password }}
                            <span class="icon_lock"></span>
                        </div>

                        {% if form.errors %}
                            <ul class="errorlist">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <button type="submit" class="site-btn">Войти</button>
                    </form>
                    <a href="#" class="forget_pass">Забыли пароль?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Еще нет аккаунта?</h3>
                        <a href="{% url "user:register" %}" class="primary-btn">Создать аккаунт</a>
                    </div>
                </div>
        </div>
        <div class="login__social">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login__social__links">
                        <span>Или</span>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Войти с
                            Facebook</a></li>
                            <li><a href="#" class="google"><i class="fa fa-google"></i> Войти с Google</a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Войти с Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->
{% endblock content %}