{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <form method="post" action="{% url 'users:register' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary" style="background-color: #9457EB; color: white; border:none;">Register</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>

{% endblock content %}
