{% load static %}
{% load humanize %}
{% if messages %}
    {% for message in messages %}
        <div class="anime__review__item">
            <div class="anime__review__item__pic">
                <a href="{% url 'user:profile_view' message.user.id %}">
                    {% if message.user.userprofile.profile_image %}
                        <img src="{{ message.user.userprofile.profile_image.url }}" alt="Profile Avatar" class="img-fluid rounded-circle avatar-image">
                    {% else %}
                        <img src="{% static 'img/default-avatar.jpg' %}" alt="Default Avatar" class="img-fluid rounded-circle avatar-image">
                    {% endif %}
                </a>
            </div>
            {% if request.user == message.user %}
                <div class="anime__review__item__text" style="background-color: rgba(229,54,55,0.25);">
                    <h6>{{ message.user.username }} - <span>{{ message.created_at|naturaltime }}</span></h6>
                    <p>{{ message.content }}</p>
                </div>
            {% else %}
                <div class="anime__review__item__text">
                    <h6>{{ message.user.username }} - <span>{{ message.created_at|naturaltime }}</span></h6>
                    <p>{{ message.content }}</p>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p>Нет комментариев.</p>
    {% endfor %}
    <div class="product__pagination justify-center">
        {% if messages.has_previous %}
            <a href="?page=1" class="pagination__item">««</a>
            <a href="?page={{ messages.previous_page_number }}" class="pagination__item">«</a>
        {% else %}
            <raw href="#" class="pagination__item--disabled">««</raw>
            <raw href="#" class="pagination__item--disabled">«</raw>
        {% endif %}
        {% for num in messages.paginator.page_range %}
            {% if messages.number == num %}
                <a href="?page={{ num }}" class="pagination__item current-page">{{ num }}</a>
            {% elif num > messages.number|add:'-4' and num < messages.number|add:'5' %}
                <a href="?page={{ num }}" class="pagination__item">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}" class="pagination__item">»</a>
            <a href="?page={{ messages.paginator.num_pages }}" class="pagination__item">»»</a>
        {% else %}
            <raw href="" class="pagination__item--disabled">»</raw>
            <raw href="" class="pagination__item--disabled">»»</raw>
        {% endif %}
    </div>
{% else %}
    <p>Нет комментариев.</p>
{% endif %}
